{% extends "core/base.html" %}
{% block title %}Игра Джанго Хакатон{% endblock %}
{% block header %}Игра Джанго Хакатон{% endblock %}
{% block content %}
  <div class="container">

    <p>{{ person.name }} {{ person.nick_name }}</p>
    <p>
      Сила: {{ person.hero_strength }}
      Выносливость: {{ person.hero_stamina }}
      Защита: {{ person.hero_armor }}
    </p>
    <hr>
    Инвентарь:
    <br>
    {{ thing }}

    {% for thing in things %} {{ thing }}

      Защита:
      {{ thing.thing_armor }}
      Выносливость:
      {{ thing.thing_stamina }}
      Сила:
      {{ thing.thing_strength }}

      {% if thing.used %}
        <a href="{% url 'take_off' person.id thing.id %}" role="button">
          <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
      {% else %}
        <a href="{% url 'put_on' person.id thing.id %}" role="button">
          <i class="fa fa-square-o" aria-hidden="true"></i></a>
      {% endif %}
      <hr>
    {% endfor %}

  </div>
{% endblock %}