<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <!-- Загрузка статики -->
  {% load static %}
  <script src="{% static '/jquery/dist/jquery.min.js' %}"></script>
  <link rel="stylesheet"
        href="{% static '/bootstrap-4/css/bootstrap.min.css' %}">
  <script src="{% static '/bootstrap-4/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet"
        href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <script src="{% static '/game/time.js' %}"></script>

  {#  <script src="{% static 'posts/style.css' %}"></script>#}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
{#<meta http-equiv="Refresh" content="1" />#}
</head>

<body>

{% include 'core/nav.html' %}
<main>
  <div class="container">
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}
      <!-- Содержимое страницы -->
    {% endblock %}
  </div>
</main>
{% include 'core/footer.html' %}

</body>

</html> 