.img_python1 {
    /* border-style: double;
     border-color: #c61b21;*/
    border: 3px solid #00a8e1;
    height: 145px;
    width: 145px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
    position: relative;
    top: 0;
    left: 50px;
}

.img_user {
    height: 45px;
    border-style: double;
    border-color: #c61b21;
}

/* Style buttons */
.btn1 {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}